.wrapper {
  height: auto;
  width: 85%;
  margin-top: 3vw;
  margin-left: 3vw;
}

 .wrapper :global(.thumbs-wrapper) {
  margin: 20px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.wrapper :global(.carousel img) {
  width: 100%;
}

.wrapper :global(.carousel-root) {
  height: 100%;
  width: 100%;
  margin: 0px;
}