.wrapper{
  height: auto;
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
}

 .wrapper :global(.thumbs-wrapper) {
  margin: 20px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}