.main {
  display: fixed;
  min-height: 100vh;
  background-color: rgba(239, 244, 247, 0.897);
}

.title {
  width: 100%;
  margin-top: 2.5vh;
  margin-left: 3vw;
  padding-bottom: .5vw;
  display: inline-block;
  font-size: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}

.content {
  width: 100%;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 400px;
  height: 50px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

.event_box {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  min-height: 50%;
  margin-left: 3vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 75%;
  border: 2px solid black;
  border-radius: 20px;
  height: auto;
}

.subtitle {
  font-size: smaller;
  color: gray;
  text-decoration: none;
}

.right {
  align-self: right;
}

.event h3 {
  font-size: 20px;
}

.event .subtitle {
  font-size: 15px;
  font-weight: normal;
}

.event h2 {
  font-size: 25px;
  flex: 50%;
  box-sizing: border-box;
}