.main {
  display: fixed;
  min-height: 100vh;
  background-color: rgba(239, 244, 247, 0.897);
}

.title {
  width: 100%;
  margin-top: 2.5vh;
  margin-left: 3vw;
  padding-bottom: .5vw;
  display: inline-block;
  font-size: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-right: 67px;
  padding-top: 67px;
  margin-left: 67;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.event_box {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  min-height: 50%;
  margin-left: 3vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  border: 2px solid black;
  border-radius: 20px;
  height: auto;
}

.carousel {
  display: inline-block;
  justify-content: left;
}

.form_wrapper {
  width: 30%;
  display: inline-block;
  margin-left: 3vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.field input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: .5vh;
  margin-bottom: 1.5vh;
}

.textarea textarea {
  width: 100%;
  height: 100px;
  min-height: 40px;
  border: none;
  border-radius: 4px;
  margin-top: .5vh;
  margin-bottom: 1.5vh;
  resize: vertical;
  overflow-y: scroll;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
}

.submit_button {
  padding: 10px;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.submit_button:hover {
  background-color: var(--uw-gold);
  opacity: 75%;
}

.subtitle {
  font-size: smaller;
  color: gray;
  text-decoration: none;
}

.right {
  align-self: right;
}

.event h3 {
  font-size: 20px;
}

.event .subtitle {
  font-size: 15px;
  font-weight: normal;
}

.event h2 {
  font-size: 25px;
  flex: 50%;
  box-sizing: border-box;
}