.main {
  display: fixed;
  min-height: 100vh;
  background-color: rgba(239, 244, 247, 0.897);
}

.title {
  width: 100%;
  margin-top: 5vh;
  margin-left: 2vw;
  padding-bottom: .5vw;
  display: inline-block;
  font-size: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  margin-left: 2vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.description {
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 2vh;
}

.button button {
  padding: 10px;
  margin-right: 6vw;
  border-radius: 4px;
}

.p {
  margin-bottom: 1vh;
  font-size: 16px;
}

.subtitle {
  font-size: smaller;
  color: gray;
  text-decoration: none;
  margin-bottom: 1vh;
}