@media (prefers-color-scheme: light) {
  .content {
    color: black;
    background-color: var(--background-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  .content {
    color: white;
    background-color: var(--background-color-dark);
  }
}

.navbar, .navbar a:visited {
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(239, 244, 247, 0.897);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.logo {
  display: flex;
  order: 1;
  position: relative;
  align-self: flex-start;
  height: 20px;
  width: 100%;
}

.logo img{
  height: 200px;
  width: 100%;
  order: 2;
  align-self: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.hrtitle {
  margin-top: 5vh;
  width: 100%;
  order: 2;
  align-self: center;
  display: fixed;
  align-items: center;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0px;
}

.title {
  width: 100%;
  margin-top: 2.5vh;
  margin-left: 3vw;
  padding-bottom: .5vw;
  display: inline-block;
  font-size: 30px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding-top: 7vh;
  padding-bottom: 7vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.p, .list_wrapper {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

.search {
  width: 100%;
  padding: 1.5vw 1vw;
  box-sizing: border-box;
}

.navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--uw-purple);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.navbar_logo_wrapper {
  align-items: center;
  display: fixed;
  position: fixed;
  z-index: 110;
  width: 20vw;
  height: 7vh;
}

.navbar_logo_wrapper img {
  display: block;
  width: auto;
  height: 100%;
  padding: 1vh 1vh 1vh 1vh;
}

.navbar_logo_wrapper a {
  display: block;
  height: 100%;
}

.navbar ul {
  margin-left: auto;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-bottom: 1px solid black;
  z-index: 101;
  flex-direction: row;
  height: 7vh;
  width: 100%;

}

.search_wrapper {
  width: 30%;
  margin-bottom: 4vh;
}

.search_wrapper input {
  font-size: 18px;
  width: 100%;
  height: 4vh;
  padding: 10px;
}

.big_logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.upcoming_events {
  order: 3;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  column-gap: 5vw;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin-right: 100px;
  margin-left: 100px;
  height: auto;
}


.event_link {
  color: black !important;
}

.event_deck {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 18vw;
  border-radius: 15px;
  transition: 0.2s;
  overflow: hidden;
}

.event_deck:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

.event_deck_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.event_deck img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  align-self: flex-start;
  width: 100%;
  height: auto;
}

.event_deck .h2_wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  background-color: #ece6f6;
}

.event_deck p {
  font-size: 0.7em;
  line-height: 15px;
}

.event_deck h4 {
  font-weight: normal;
}

.event_deck.event_deck h3 {
  font-size: smaller;
}

.event_deck h2, .event_deck h3, .event_deck h4 {
  margin: 2vh;
  text-overflow: ellipsis;
}

.event_button {
  width: 3vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.048);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  border: 1px solid gray;
  border-radius: 10px;
}

.goto {
 background-image: url("/sprites/depart.jpg");
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center;
}

.navbar button {
  border: none;
  background-color: var(--uw-gold);
  margin-top: 1.5vh;
  margin-right: 1vw;
  height: 4vh;
  border-radius: var(--border-radius);
  padding: 8px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.search_wrapper button {
  margin-top: 1vh;
  padding: 10px;
  align-content: center;
  width: 100%;
}

.login_button {
  font-size: 18px;
  line-height: 24px;
}

.navbar button:hover {
  opacity: 85%;
}

.navbar ul {
  text-align: center;
  list-style-type: none;
}

.navbar li {
  float: left;
  height: 7vh;
  line-height: 7vh;
}

 .navbar li a {
  font-size: 20px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar li a:hover {
  color: var(--uw-gold);
}

.no_link {
  height: 6vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.navbar .gmail_logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 7vh;
}

.navbar .gmail_logo {
  border-radius: 10px;
  height: 3.5vh !important;
  width: auto !important;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.dropdown {
  line-height: 24px;
  position: relative;
  display: inline-block;
}

.dropdown_text a {
  padding: 20px;
  font-size: 16px;
}

.dropdown:hover .dropdown_text {
  display: block;
}

.dropdown_text {
  text-align: left;
  overflow: hidden;
  height: auto;
  display: none;
  background-color: var(--uw-purple);
  position: absolute;
  padding-top: 20px;
}

.info {
  padding: 4vh;
  background-color: #e8e3d3;
  opacity: 80%;
  height: auto;
  width: 100%;
  text-align: center;
  display: fixed;
}

.testimonials {
  padding: 4vh;
  opacity: 80%;
  height: 40vh;
  width: 100%;
  text-align: center;
  display: fixed;
}

.testimonials p {
  margin-bottom: 2vh;
}

.standout {
  line-height: 15vh;
  margin-top: 1vh;
}

.info p {
  margin-left: 10vw;
  margin-right: 10vw;
}

.info img {
  margin-top: -5vh;
  margin-bottom: 2vh;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

.footer {
  height: 7vh;
  position: absolute;
  z-index: 101;
  width: 100%;
  font-size: smaller;
  text-align: center;
  line-height: 7vh;
  color: white;
  background-color: var(--uw-purple);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

