.button {
  height: 5vh;
  padding: 10px;
}

.signin_box {
  border-color: black;
  margin-top: 10vh;
  width: 40%;
}


.signout_button {
  padding: .5vw;
  height: 4vh;
  text-align: center;
  border-radius: 6px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: medium;
}

.google_button {
  padding: .5vw;
  font-size: 18px;
  line-height: 24px;
  border-radius: 6px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.button_wrapper, .hrtitle {
  width: 100%;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.events {
  margin-top: 10vh;
  width: 60%;
}

.hrtitle {
  width: 100%;
  display: fixed;
  align-self: center;
  align-items: center;
  text-align: center;
  padding: .5vw;
}

.button {
  border: none;
  background-color: var(--uw-gold);
  margin: 10px;
  height: 60px;
  border-radius: var(--border-radius);
  padding: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}