.button {
  height: 5vh;
  padding: 10px;
}

.button_wrapper, .hrtitle {
  width: 100%;
  text-align: center;
}

.hrtitle {
  width: 100%;
  display: fixed;
  align-self: center;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  background-color: var(--uw-gold);
  margin: 10px;
  height: 60px;
  border-radius: var(--border-radius);
  padding: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}