.out {
    width: 100%;
    border-radius: 5px;
    height: 70%;
    border: 1px solid gray;
}

.in {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: smaller;
}

.right {
    padding-left: au    to;
}

.in li::marker{
    display: none;
}