.slideshow {
  margin-top: 100px;
  margin-left: 100px;
}

#carousel img {
  height: 400px;
}


.description {
  display: flex;
  margin-top: 3vw;
  margin-top: 3vw;
  flex-direction: column;
  width: 40%;
}

.description p {
  font-size: 20px;
}

.review_box {
  margin-top: 200px;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 40%;
}

.review {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 75%;
  border: 2px solid black;
  border-radius: 20px;
  height: auto;
}

.review_rating {
  flex: 50%;
  flex-basis: 100%;
}

.review_rating  img {
  height: 30px;
  width: 30px;
}

.subtitle {
  font-size: smaller;
  color: gray;
  text-decoration: none;
}

.right {
  align-self: right;
}

.review h3 {
  font-size: 20px;
}

.review .subtitle {
  font-size: 15px;
  font-weight: normal;
}

.review h2 {
  font-size: 25px;
  flex: 50%;
  box-sizing: border-box;
}

