.slideshow {
  margin-top: 100px;
  margin-left: 100px;
}

#carousel img {
  height: 400px;
}


.description {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  width: 45%;
  outline: 1px solid black;
}

.description p {
  font-size: 20px;
}

.review_box {
  margin-top: 200px;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.review {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 75%;
  border: 2px solid black;
  border-radius: 20px;
}

.review_rating {
  flex: 50%;
  box-sizing: border-box;
}

.review_rating  img {
  height: 30px;
  width: 30px;
}

.subtitle {
  font-size: smaller;
  color: gray;
  text-decoration: none;
}

.right {
  align-self: right;
}

.review h2 {
  flex: 50%;
  box-sizing: border-box;
}

