# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  schedule:
    - cron: 0 0 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: create env var
        run: |
          touch ./site/.env.local
          echo "ATLAS_URI=${{secrets.ATLAS_URI}}" > ./site/.env.local
          touch cypress/.env
          echo "GOOGLE_REFRESH_TOKEN=${{secrets.GOOGLE_REFRESH_TOKEN}}$" > cypress/.env
          echo "REACT_APP_GOOGLE_CLIENTID=${{secrets.REACT_APP_GOOGLE_CLIENTID}}$" > cypress/.env
          echo "REACT_APP_GOOGLE_CLIENT_SECRET=${{secrets.REACT_APP_GOOGLE_CLIENT_SECRET}}$" > cypress/.env
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          working-directory: ./site
          build: npm run build
          start: npm start
          cd: cd ../
          
